#check_mark_img {
    position: relative;
    top: 12em;
    left: 48em;
}

h4{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 10em;
    left: 45em;
}