.error_p{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 18em;
    left: 60em;
}
#error_picture{
    position: absolute;
    width: 300px;
    height: auto;
    top: 15em;
    left: 40em;
}